@{
    ViewData["Title"] = "Version History and Developers Note";
}
<h2>@ViewData["Title"]</h2>

@* <p>Use this page to detail your site's privacy policy.</p> *@


<div class="row mt-5">
    <div class="col-4">
        <div class="d-flex align-items-start">
            <h4>Migrated By: Daby John Ponce Romero</h4>
        </div>
    </div>
@*     <div class="col-6">
    </div> *@
</div>
<div class="row mt-2">
    <div class="col-4">
        <div class="d-flex align-items-start">
            <h4>Ferramentaria Version: 1.10</h4>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-4">
        <div class="d-flex align-items-start">
            <h4>Changelogs</h4>
        </div>
    </div>
</div>

<div class="row mt-2 justify-content-center">
    <div class="col-2">
        <div class="d-flex align-items-center justify-content-center">
            <h4>Version: 1.10</h4>
        </div>
    </div>
    <div class="col-10">
        <div class="d-flex align-items-center justify-content-start">
            <h4>Entrada Em Lote prompt and name changes - 07/02/2025</h4>
        </div>
    </div>
</div>

<div class="row mt-2 justify-content-center">
    <div class="col-2">
        <div class="d-flex align-items-center justify-content-center">
            <h4>Version: 1.9</h4>
        </div>
    </div>
    <div class="col-10">
        <div class="d-flex align-items-center justify-content-start">
            <h4>Devolucao Ticket and New ControleCA rule - 24/09/2024</h4>
        </div>
    </div>
</div>

<div class="row mt-2 justify-content-center">
    <div class="col-2">
        <div class="d-flex align-items-center justify-content-center">
            <h4>Version: 1.8</h4>
        </div>
    </div>
    <div class="col-10">
        <div class="d-flex align-items-center justify-content-start">
            <h4>EntradaEmLote Service - 24/09/2024</h4>
        </div>
    </div>
</div>

<div class="row mt-2 justify-content-center">
    <div class="col-2">
        <div class="d-flex align-items-center justify-content-center">
            <h4>Version: 1.7</h4>
        </div>
    </div>
    <div class="col-10">
        <div class="d-flex align-items-center justify-content-start">
            <h4> Product Quantity Fixes </h4>
        </div>
    </div>
</div>

<div class="row mt-2 justify-content-center">
    <div class="col-2">
        <div class="d-flex align-items-center justify-content-center">
            <h4>Version: 1.6</h4>
        </div>
    </div>
    <div class="col-10">
        <div class="d-flex align-items-center justify-content-start">
            <h4> Emprestimo Fixes </h4>
        </div>
    </div>
</div>

<div class="row mt-2 justify-content-center">
    <div class="col-2">
        <div class="d-flex align-items-center justify-content-center">
            <h4>Version: 1.5</h4>
        </div>
    </div>
    <div class="col-10">
        <div class="d-flex align-items-center justify-content-start">
            <h4> Devolucao Fixes </h4>
        </div>
    </div>
</div>

<div class="row mt-2 justify-content-center">
    <div class="col-2">
        <div class="d-flex align-items-center justify-content-center">
            <h4>Version: 1.4</h4>
        </div>
    </div>
    <div class="col-10">
        <div class="d-flex align-items-center justify-content-start">
            <h4> Reinclusao de Item - Inativo Fix</h4>
        </div>
    </div>
</div>

<div class="row mt-2 justify-content-center">
    <div class="col-2">
        <div class="d-flex align-items-center justify-content-center">
            <h4>Version: 1.3</h4>
        </div>
    </div>
    <div class="col-10">
        <div class="d-flex align-items-center justify-content-start">
            <h4> Reinclusao de Item - Extraviado Fix</h4>
        </div>
    </div>
</div>

<div class="row mt-2 justify-content-center">
    <div class="col-2">
        <div class="d-flex align-items-center justify-content-center">
            <h4>Version: 1.2</h4>
        </div>
    </div>
    <div class="col-10">
        <div class="d-flex align-items-center justify-content-start">
            <h4> Post-Launch Fix</h4>
        </div>
    </div>
</div>

<div class="row mt-2 justify-content-center">
    <div class="col-2">
        <div class="d-flex align-items-center justify-content-center">
            <h4>Version: 1.1</h4>
        </div>
    </div>
    <div class="col-10">
        <div class="d-flex align-items-center justify-content-start">
            <h4> Post-Launch Fix</h4>
        </div>
    </div>
</div>

<div class="row mt-2 justify-content-center">
    <div class="col-2">
        <div class="d-flex align-items-center justify-content-center">
            <h4>Version: 1.0</h4>
        </div>
    </div>
    <div class="col-10">
        <div class="d-flex align-items-center justify-content-start">
            <h4> Production Launch - 23/07/2024</h4>
        </div>
    </div>
</div>